@use "colors";

html {
  font-size: 62.5%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background-image: linear-gradient(colors.$softViolet, colors.$softBlue);
}

.main-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FAQ-container {
  box-sizing: border-box;
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2.3rem;
  padding: 11rem 0.9rem 4.2rem;
  width: 84%;
  max-width: 92rem;
  max-height: 50.9rem;

  &__desktop-illustration,
  &__desktop-illustration-box,
  &__desktop-illustration-background {
    display: none;
  }

  &__mobile-illustration {
    width: 24rem;
    position: absolute;
    top: -11rem;

    &-background {
      position: absolute;
      top: 0;
    }
  }

  &__title {
    font-size: 3.3rem;
    margin-bottom: 2rem;
  }

  &__questions-wrapper {
    width: 90%;
    text-align: center;
  }

  &__question {
    font-size: 1.31rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.7rem 0;
    text-decoration: none;
    color: colors.$veryDarkDesaturatedBlue;

    &:hover {
      color: colors.$softRed;
      cursor: pointer;
    }

    &:focus + .FAQ-container__answer {
      display: block;
    }

    &:focus .FAQ-container__arrow {
      transform: rotate(180deg);
    }

    &:focus {
      font-weight: 700;
    }
  }

  &__answer {
    transition: all 500s ease;
    display: none;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: colors.$darkGrayishBlue;
    animation: slide-in-top 500ms;
  }
}

hr {
  height: 1px;
  background-color: colors.$lightGrayishBlue;
  border: none;
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
  margin-top: 2rem;
}
.attribution a {
  color: colors.$softRed;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
